name: build.yml
on:
  push:
    branches:
      - main

jobs:
  build-binaries:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - run: rustup target add x86_64-unknown-linux-musl
      - run: cargo build --profile release --target x86_64-unknown-linux-musl
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: foreachwikiindblist-parallel
          path: target/x86_64-unknown-linux-musl/release/foreachwikiindblist-parallel
